
.progressBar {
  height: 10vh;
}
.NavList {
  list-style-type: none;
  background-color: #346a82;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr repeat(1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  padding-left: none;
}
.TitleNotice {
  grid-area: 1 / 1;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1%;
  margin-left: 5%;
  font-size: 2em;
  color: white;
  width: 100%;
}
.ProfilImg {
  grid-area: 1 / 2;
  width: 3%;
  margin-left: 10%;
}
.NameProfil {
  margin-left: 14%;
  grid-area: 1 / 2;
  color: white;
}
p.one {
  color: white;
  grid-area: 1 / 2;
  margin-left: 37.5%;
  height: 50%;
  font-size: 0.8em;
}
p.two {
  color: white;
  grid-area: 1 / 2;
  margin-left: 50%;
  height: 50%;
  font-size: 0.8em;
}
p.three {
  color: white;
  grid-area: 1 / 2;
  margin-left: 62%;
  height: 50%;
  font-size: 0.8em;
}
p.four {
  color: white;
  grid-area: 1 / 2;
  margin-left: 74%;
  height: 50%;
  font-size: 0.8em;
}
p.five {
  color: white;
  grid-area: 1 / 2;
  margin-left: 86%;
  height: 50%;
  font-size: 0.8em;
}

p.six {
    color: white;
    grid-area: 1 / 2;
    margin-left: 37.5%;
    height: 0%;
    font-size: 0.8em;
  }
  p.seven {
    color: white;
    grid-area: 1 / 2;
    margin-left: 50%;
    height: 0%;
    font-size: 0.8em;
  }
  p.height {
    color: white;
    grid-area: 1 / 2;
    margin-left: 62%;
    height: 0%;
    font-size: 0.8em;
  }
  p.nine {
    color: white;
    grid-area: 1 / 2;
    margin-left: 74%;
    height: 0%;
    font-size: 0.8em;
  }
  p.ten {
    color: white;
    grid-area: 1 / 2;
    margin-left: 86%;
    height: 0%;
    font-size: 0.8em;
  }

.progress{
    position: relative;
    height: 70px;
    width: 180%;
    border: 0px solid ;
    border-radius: 15px;
    margin-left: 170%;

}
.progress .color{
    position: absolute;
    background-color: #08D804;
    width: 0px;
    height: 5px;
    border-radius: 15px;
    animation: progres 4s infinite linear;  
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
};

