.Decision__dash__h2 {
  border-color: black;
  border: 0.2rem solid;
  border-radius: 30px;
  font-size: 2vh;
  font-weight: 600;
  color: black;
  margin: 0 1rem;
  padding: 1rem;
}
.active__Decision__dash__h2 {
  border-color: black;
  border: 0.2rem solid;
  border-radius: 30px;
  font-size: 2vh;
  font-weight: 600;
  color: black;
  margin: 0 1rem;
  padding: 1rem;
  background-color: #346A82;
}

