.Alldecision {
  width: 80%;
  padding-left: 5%;
  display: flex;
  justify-content: space-around;
}

#trait {
  margin-top: 40px;
  width: 60%;
  height: 1%;
  border: 1px solid black;
  background-color: black;
}
