.dashboard {
  background-color: rgba(28, 71, 210, 0.119);
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr) 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
