.body {
  background-color: rgba(51, 105, 129, 11%);
}

.dashboard {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr) 2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: "Raleway", sans-serif;
}
