.formulaire__decision {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.h1__Decision {
  margin-top: 3rem;
  margin-left: 1rem;
}
.dashboard__decision {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 4rem;
}

.btn__decision {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
