.concernedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
}

.userContainerOn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userCard {
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  width: 57vw;
  gap: 1vw;
}

.UserItemOn {
  width: 18vw;
  height: 20vh;
  background-color: rgb(15, 146, 21);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.UserItemOff {
  width: 18vw;
  height: 20vh;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1vh;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.expertButtonGreen {
  background-color: rgb(0, 255, 13);
}

.expertButtonRed {
  background-color: brown;
}

.image {
  display: flex;
  justify-content: center;
}

.image img {
  width: 100px;
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 70%;
  /* height: 20%; */
  font-size: medium;
  background-color: rgba(178, 224, 177, 0.28);
  border: 1px solid rgb(60, 150, 37);
}
